.qodo
.__pycache__
db.sqlite3
*.pyc
*.pyo
.env
backend/media
backend/staticfiles
backend/static

WHEREAMI.md
Pipfile
Pipfile.lock
backend/core/migrations
backend/accounts/migrations
backend/stats/migrations
backend/logs/django.log
backend/logs
venv


